/* 样式化选项卡 */  
.tabs {  
    overflow: hidden;  
    background-color: #f1f1f1;  
    border-radius: 10px 10px 0 0; /* 顶部圆角 */  
  }  
    
  .tabs button {  
    background-color: inherit;  
    float: left;  
    border: none;  
    outline: none;  
    cursor: pointer;  
    padding: 14px 16px;  
    transition: background-color 0.3s;  
    border-radius: 10px 10px 0 0; /* 选项卡按钮圆角 */  
  }  
    
  .tabs button:hover {  
    background-color: #ddd;  
  }  
    
  .tabs button.active {  
    background-color: #ccc;  
  }  
    
  /* 样式化选项卡内容 */  
  .tabcontent {  
    display: none;  
    padding: 20px;  
    border: 1px solid #ccc;  
    border-top: none;  
    border-radius: 0 0 10px 10px; /* 底部圆角 */  
  }  
    
  /* 鼠标悬停时加深选项卡内容背景色（可选） */  
  .tabcontent:hover {  
    background-color: #ffffff;  
  }

  .downloads-list {  
    list-style-type: none;  
    padding: 0;  
    display: flex; /* 如果需要整个列表也是横向的，可以添加这个 */  
    flex-direction: column; /* 或者保持为column，具体取决于您的需求 */  
  }  
    
  .download-item1,.download-item2,.download-item3 {  
    display: flex;  
    align-items: center; /* 垂直居中图标和文本 */  
    margin-bottom: 10px; /* 每个下载项之间的间距 */  
  }  
    
  
  .download-icon {  
    width: 32px;  
    height: 32px;  
    margin-right: 10px;  
  }  
    
  .info {  
    display: flex;  
    align-items: center; /* 如果需要的话，也可以在这里垂直居中 */  
    flex-wrap: wrap; /* 如果需要的话，允许内容换行 */  
  }  
    
  .version-status, .details {  
    display: flex;  
    align-items: baseline; /* 确保版本号和状态在同一基线上 */  
    margin-right: 20px; /* 版本状态组和详情组之间的间距 */  
  }  
    
  
    
  .status {  
    font-size: 0.8em; /* 状态文本较小 */  
    margin-left: 4px; /* 状态与版本号之间的间距 */  
    /* 注意：这里不再使用vertical-align，因为它在Flexbox中不起作用 */  
  }  
    
  .status-dot {  
    display: inline-block;  
    width: 10px; /* 小圆点的大小 */  
    height: 10px;  
    border-radius: 50%; /* 圆形 */  
    margin-right: 20px; /* 与版本号之间的间距 */  
    /* 初始时不设置背景色，因为我们将通过数据属性选择器来设置 */  
    position: relative; /* 设置为相对定位 */  
    left: 10px; /* 向右移动10px，你可以根据需要调整这个值 */  
}
    
    
  /* 根据数据属性设置不同的背景色 */  
  .status-dot[data-status="RC"],  
  .status-dot[data-status="Release"] {  
    background-color: green;  
  }  
    
  .status-dot[data-status="Beta"] {  
    background-color: rgba(255, 255, 74, 0.623);  
  }  
    
  .status-dot[data-status="Alpha"] {  
    background-color: rgba(219, 1, 1, 0.808);  
  }  
    
  .status-dot[data-status="Base"] {  
    background-color: gray;  
  }

  /* 在媒体查询中定义details类的隐藏样式 */
@media (max-width: 600px) {
  .details {
      display: none;
  }
}
